<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Уроки</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <h3 th:object="${module}" th:text="${'Уроки модуля ' + module.name}"></h3>

    <hr/>
    <a th:href="@{/step/add (moduleId = ${module.id}, type='lection-step') }"
       class="btn btn-primary">Добавить лекцию</a>
    <a th:href="@{/step/add (moduleId = ${module.id}, type='word-answer-step') }"
       class="btn btn-primary">Добавить вопрос</a>
    <a th:href="@{/step/add (moduleId = ${module.id}, type='test-step') }"
       class="btn btn-primary">Добавить тестовый вопрос</a>
    <br/><br/>

    <form th:action="@{/steps/switch ( moduleId=${module.id} )}" th:object="${steps}"
          method="POST">
        <table class="table table-bordered table-striped" id="stepTable">
            <thead>
            <tr>
                <th></th>
                <th>Тип урока</th>
                <th>Вопрос / Краткий текст лекции</th>
                <th>Ответ</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="step, itemStat : *{steps}" class="float-child">
                <td>
                    <input type="hidden" th:field="*{steps[__${itemStat.index}__].stepNumber}"/>
                    <input type="hidden" th:field="*{steps[__${itemStat.index}__].id}"/>
                    <input type="hidden" th:field="*{steps[__${itemStat.index}__].module.id}"/>

                    <input th:if=" ${step.class.simpleName} == 'InformationTextStep' " type="hidden"
                           th:field="*{steps[__${itemStat.index}__].lectionText}"/>

                    <input th:if=" ${step.class.simpleName} == 'WordAnswerStep' " type="hidden"
                           th:field="*{steps[__${itemStat.index}__].question}"/>
                    <input th:if=" ${step.class.simpleName} == 'WordAnswerStep' " type="hidden"
                           th:field="*{steps[__${itemStat.index}__].answer}"/>

                    <input th:if=" ${step.class.simpleName} == 'TestStep' " type="hidden"
                           th:field="*{steps[__${itemStat.index}__].question}"/>
                    <input th:if=" ${step.class.simpleName} == 'TestStep' " type="hidden"
                           th:field="*{steps[__${itemStat.index}__].multiAnswers}"/>


                <td th:switch="${step.class.simpleName}">
                    <p th:case=" 'InformationTextStep' ">Лекция</p>
                    <p th:case=" 'WordAnswerStep' ">Вопрос</p>
                    <p th:case=" 'TestStep' ">Тестовый вопрос</p>
                </td>

                <td th:switch="${step.class.simpleName}">
                    <p th:case=" 'InformationTextStep' " th:text="${step.lectionText}"></p>
                    <p th:case=" 'WordAnswerStep' " th:text="${step.question}"></p>
                    <p th:case=" 'TestStep' " th:text="${step.question}"></p>
                </td>

                <td th:switch="${step.class.simpleName}">
                    <p th:case=" 'InformationTextStep' "> - </p>
                    <p th:case=" 'WordAnswerStep' " th:text="${step.answer}"></p>

                    <span th:case=" 'TestStep' ">
                        <a th:href="@{/test-step/{id}/answers (id=${step.id}) }" class="btn btn-primary">Посмотреть ответы</a>
                        <a th:href="@{/test-step/answer/add (testStepId=${step.id}) }"
                           class="btn btn-primary">Добавить ответы</a>
                    </span>

                </td>

                <td>
                    <a th:href="@{/step/{id}/edit (id = ${step.id}, type=${step.class.simpleName}) }"
                       class="btn btn-info">Редактировать</a>
                    <a th:href="@{/step/{id}/delete (id = ${step.id}) }"
                       class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary col-2">Сохранить изменения</button>
    </form>

    <a th:href="@{/course/{id}/constructor (id = ${module.course.id}) }">Обратно к модулям</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
const ELS = (sel, par) => (par || document).querySelectorAll(sel);
const ELS_child = ELS(".float-child");

let EL_drag; // Used to remember the dragged element

const addEvents = (EL_ev) => {
  EL_ev.setAttribute("draggable", "true");
  EL_ev.addEventListener("dragstart", onstart);
  EL_ev.addEventListener("dragover", (ev) => ev.preventDefault());
  EL_ev.addEventListener("drop", ondrop);
};

const onstart = (ev) => EL_drag = ev.currentTarget;

const ondrop = (ev) => {
  if (!EL_drag) return;

  ev.preventDefault();

  const EL_targ = ev.currentTarget;
  const EL_targClone = EL_targ.cloneNode(true);
  const EL_dragClone = EL_drag.cloneNode(true);

  const targCloneValue = EL_targClone.childNodes[1].childNodes[1].value;
  const dragCloneValue = EL_dragClone.childNodes[1].childNodes[1].value;

  EL_targ.replaceWith(EL_dragClone);
  EL_drag.replaceWith(EL_targClone);

  EL_targClone.childNodes[1].childNodes[1].value = dragCloneValue;
  EL_dragClone.childNodes[1].childNodes[1].value = targCloneValue;

  addEvents(EL_targClone); // Reassign events to cloned element
  addEvents(EL_dragClone); // Reassign events to cloned element

  EL_drag = undefined;
};

ELS_child.forEach((EL_child) => addEvents(EL_child));







</script>
</body>

</html>