<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">Степик</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my-learning}">Мое обучение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my-courses}">Мои курсы</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin-panel}">Административная панель</a>
            </li>
        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav pull-right mr-5">
            <li class="nav-item dropdown">
                <a sec:authentication="name" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/settings}">Настройки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Выйти</a>
                </div>
            </li>
        </ul>
        <ul sec:authorize="!isAuthenticated()" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Зайти в аккаунт</a>
            </li>
            <li class="nav-link">|</li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Зарегистрироваться</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <h3 th:text="'Ответы к тестовому вопросу ' + ${step.question} "></h3>
    <h2 th:text="${step.multiAnswers ? 'Несколько вариантов ответа' : 'Один вариант ответа'}"></h2>
    <hr/>
    <a th:href="@{/test-step/answer/add ( testStepId=${step.id}, courseId=${step.module.course.id} ) }" class="btn btn-primary">Создать ответ</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="answerTable">

        <thead>
        <tr>
            <th>Текст ответа</th>
            <th>Верный</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="answer: ${answers}">
            <td th:text="${answer.answerText}"></td>
            <td th:text="${answer.isCorrect ? 'Да' : 'Нет'}"></td>
            <td>
                <a th:href="@{/test-step/answer/edit (answerId = ${answer.id}, stepId=${step.id} )}" class="btn btn-info">Редактировать</a>
                <a th:href="@{/test-step/answer/delete (answerId = ${answer.id}, stepId=${step.id} )}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>

    </table>
    <a th:href="@{/module/{id}/steps (id = ${step.module.id} )}">Обратно к модулю</a>
</div>

</body>

</html>