<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Редактирование ответа</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">Степик</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Мое обучение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my-courses}">Мои курсы</a>
            </li>

        </ul>

        <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Username
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Настройки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2 th:text="'Изменение ответа вопроса - ' + ${answer.testStep.question}"></h2>
    <hr>

    <form th:action="@{/test-step/answer/add (testStepId=${step.id} ) }" th:object="${answer}" method="POST" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{testStep.id}" />

        <label>Текст ответа</label>
        <input type="text" th:field="*{answerText}" class="form-control col-4 mb-4" placeholder="Текст ответа" />
        <hr>

        <label for="file">Изменить изображение</label>
        <input id="file" name="file" type="file" accept="image/png, image/jpeg">
        <hr>

        <h4 th:if="${answer.image ne null}">Загруженное изображение</h4>
        <img th:if="${answer.image ne null}" th:src="@{'/uploads/' + ${answer.image} }" />
        <hr>

        <p>Верный</p>
        <input type="checkbox" name="correct" th:checked="*{correct}" class="form-control col-1 mb-4"/>
        <hr>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>
    </form>

    <hr/>
    <a th:href="@{/test-step/{id}/answers ( id=${step.id} ) }">Обратно к ответам</a>
</div>

</body>
</html>