<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/qdkq79kkd9vazdw69f8fnehc20euw9yxj88jjn4tebxuubjf/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">Степик</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Каталог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my-learning}">Мое обучение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my-courses}">Мои курсы</a>
            </li>
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                <a class="nav-link" th:href="@{/admin-panel}">Административная панель</a>
            </li>

        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav pull-right mr-5">
            <li class="nav-item dropdown">
                <a sec:authentication="name" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" th:href="@{/settings}">Настройки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">Выйти</a>
                </div>
            </li>
        </ul>
        <ul sec:authorize="!isAuthenticated()" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Зайти в аккаунт</a>
            </li>
            <li class="nav-link">|</li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Зарегистрироваться</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">

    <form th:action="@{/course/add}" th:object="${course}" method="POST">
        <h3 th:text="${'Добавление нового курса'}"></h3>
        <hr>
        <div th:if="${#fields.hasAnyErrors()}">
            <div class="alert alert-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}" role="alert"></div>
        </div>
        <input type="hidden" th:field="*{id}" />

        <label>Название</label>
        <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Название" />
        <hr>

        <label>Краткое описание</label>
        <textarea th:field="*{shortDescription}" class="form-control col-4 mb-4" placeholder="Краткое описание" />
        <hr>

        <label>Описание</label>
        <textarea th:field="*{description}" class="form-control col-4 mb-4" placeholder="Описание"></textarea>
        <hr>

        <p>Разрешить комментарии</p>
        <input type="checkbox" name="commentsAllowed" th:checked="*{commentsAllowed}" class="form-control col-1 mb-4"/>
        <hr>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>

    </form>
    <hr/>
    <a th:href="@{/my-courses}">Обратно к моим курсам</a>
</div>

<script>
    tinymce.init({
      selector: '#description'
    });
 </script>
</body>
</html>