<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Ваши курсы</title>

  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>

<body>

<div class="container">

  <h3>Ваши курсы</h3>

  <hr/>
  <a th:href="@{/course/add}" class="btn btn-primary">Создать курс</a>
  <br/><br/>
  <table class="table table-bordered table-striped" id="courseTable">

    <thead>
    <tr>
      <th>Название</th>
      <th>Дата создания</th>
      <th>Опубликован</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course: ${courses}">
      <td>
        <a th:href="@{/course/{id}/constructor (id = ${course.id})}" th:text="${course.name}"></a>
      </td>
      <td th:text="${course.creationDate}"></td>
      <td th:text="${course.isPublished ? 'Опубликован' : 'Не Опубликован'}"></td>
      <td>
        <a th:href="@{/course/{id}/edit (id = ${course.id})}" class="btn btn-info">Редактировать</a>
        <a th:href="@{/course/{id}/delete (id = ${course.id})}" class="btn btn-danger">Удалить</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#courseTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
</body>

</html>