<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Delete Module</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">

    <h3>Удалить модуль</h3>
    <hr/>

    <form th:object="${module}" th:action="@{/module/{id}/delete (id = ${module.id} , courseId=${module.course.id}) }" method="POST">
        <h4 th:text="${'Вы уверены что хотите удалить модуль с названием ' + module.name + '?'}"></h4>
        <button type="submit" class="btn btn-primary col-2">Удалить</button>
    </form>

    <hr/>
    <a th:href="@{/course/{id}/constructor (id = ${module.course.id})}">Обратно к курсу</a>
</div>

</body>
</html>