<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Module</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>
<body>

<div class="container">
    <h2 th:object="${course}" th:text="${'Editing module of course ' + module.course.name}"></h2>

    <form th:action="@{/module/add (courseId=${module.course.id}) }" th:object="${module}" method="POST">
        <h3>New Module</h3>
        <hr/>
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" class="form-control col-4 mb-4" placeholder="Name" />
        <button type="submit" class="btn btn-primary col-2">Save</button>

    </form>
    <hr/>
    <a th:href="@{/course/{id}/constructor (id = ${module.course.id})}">Back to course</a>
</div>

</body>
</html>